.agentPabeNav-nav-agent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff69b4;
    padding: 20px 20px;
    margin-bottom: 3em;
  }
  
  .agentPabeNav-nav-agent ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .agentPabeNav-nav-agent li {
    font-size: 18px;
  }
  
  .agentPabeNav-nav-agent a {
    color: white;
    text-decoration: none;
  }
  
  .agentPabeNav-nav-agent a:hover {
    /* text-decoration: none; */
    background-color: #c781c5;
    padding: 10px;
  }
  .agentPabeNav-nav-agent li:last-child {
    margin-left: auto;
  }
  .agentPabeNav-nav-agent h2{
    float: right;
    color: #ffffff;
    font-size: 22px;
  }
  